
@media screen and (min-width:1130px) {
    #dropdown-container{
        width: 50%
    }
    .pcheader{
        display: flex;
    }
    .mobilheader{
        display: none;
    }

}
/* computer */
@media screen and (max-width:1129px){
    
    /* header */
    .pcheader{
        display: flex;
    }
    .mobilheader{
        display: none;
    }

    #dropdown-container{
        width: 75%
    }

    /* artikler */
    .overskrift{
        width: 55%;
    }

    .tokolonner a section{
        height:400px;
    }
    

    
    .reverse img{
        margin-left:0;
        margin-right: 50px;
    }

    /* footer */
    #footercontent{
        width: 90%;
        margin: auto;
        
        display: flex;
        justify-content: space-between;
    }

    #footermobil{
        display: none;
    }
}



/* mobil */
@media screen and (max-width:768px){
    /* header */
    .pcheader{
        display: none;
    }
    .mobilheader{
        display: flex;
        width: 90%;
        margin: 10px auto;
        justify-content: space-between;
    }


    header{
        height: 60px;
    }


/* artikler */
    .overskrift{
        width: 90%;
    }
    .layout section{
        height:300px;
    }
    .layout section div{
        height: 280px;
    }

    .tokolonner{
        flex-direction: column;
    }
    .tokolonner a{
        width: 100%;
        margin: 20px 0;
    }
    .tokolonner a section{
        height: 300px; 
    }

    .tekstogbillede{
        flex-direction: column;

    }
    .tekstogbillede img{
        width:100%;
        height: auto;
        margin-top: 20px;
        margin-left: 0;
    }


    /* slider */
    .slide {
        height: auto;
        width: 50%;
        border-radius: 5px;
        margin: 20px auto;
    }

    .sliderarrow{
        width: 5%;
        max-width: 25px;
        min-width: 10px;
    }

    .mobilhide{
        display: none;
    }

    /* footer */
    #footercontent{
        display: none;
    }

    #footermobil{
        display: block;
        width:90%;
        margin: auto;
    }

    #footermobil div{
        display: flex;
        flex-direction: column;
    }
}