/* computer */
@media screen and (min-width:1280px){
    
    /* header */
    .pcheader{
        display: flex;
    }
    .mobilheader{
        display: none;
    }

    .videocomputer{
        display:block;
    }
    .videomobil{
        display:none;
    }

    header{
        height: 80px;
    }

    /* Denne video del er lånt fra: https://codepen.io/shshaw/pen/OVGWLG  */

    .video-container video {
        /* Make video to at least 100% wide and tall */
        min-width: 100%; 
        min-height: 100%; 

        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;

        /* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);    
    }

    /* artikler */
    .overskrift{
        width: 50%;
    }
    .layout section{
        height:550px;
    }
    .layout section div{
        height: 500px;
    }

    .tokolonner a{
        width: 45%;

        margin: 50px 0px;
    }
    
    .tokolonner a section{
        height: 500px; 
    }

    .tekstogbillede img{
        width: 30%;
        height: auto;
        margin-left: 50px;
    } 
    .reverse img{
        margin-left:0px;
        margin-right: 50px;
    }


    /* footer */
    #footercontent{
        width: 90%;
        margin: auto;
        
        display: flex;
        justify-content: space-between;
    }

    #footermobil{
        display: none;
    }
}
/* mobil */
@media screen and (max-width:1279px){
    /* header */
    .pcheader{
        display: none;
    }
    .mobilheader{
        display: flex;
        width: 90%;
        margin: 10px auto;
        justify-content: space-between;
    }

    .videocomputer{
        display:none;
    }
    .videomobil{
        display:block;
    }

    header{
        height: 60px;
    }
        /* Denne video del er lånt fra: https://codepen.io/shshaw/pen/OVGWLG  */

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
}

/* artikler */
    .overskrift{
        width: 90%;
    }
    .layout section{
        height:300px;
    }
    .layout section div{
        height: 280px;
    }

    .tokolonner{
        flex-direction: column;
    }
    .tokolonner a{
        margin: 20px 0px;
    }
    .tokolonner a section{
        height: 300px; 
    }

    .tekstogbillede{
        flex-direction: column;

    }
    .tekstogbillede img{
        width:90%;
        height: auto;
        margin: 20px auto;
    }

    .mobilhide{
        display: none;
    }
/* footer */
#footercontent{
    display: none;
}

#footermobil{
    display: block;
    width:90%;
    margin: auto;
}

#footermobil div{
    display: flex;
    flex-direction: column;
}
}